<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Chapdelaine & Associates</title>
    <link type="text/css" rel="stylesheet" href="lib/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div ng-app='Database'>
		<nav class="brown darken-1">
			<a href="/#/home" ng-if="$user != null" class="brand-logo right"> Welcome {{$user}} </a>
			<ul ng-if="$user != null">
				<li><a href="/#/home" title="">Home</a></li>
				<li><a href="/#/newJob" title="">New Job</a></li>
				<li><a href="/#/findJob" title="">Find Job</a></li>
				<li><a href="/#/getData" title="">Get Data</a></li>
				<li><a href="/#/logout" title="">Logout</a></li> <!-- make this modal????? -->
			</ul>
			<ul>
				<li><a ng-if="$user === null" href="/#/login" title="">Login</a></li>
			</ul>
		</nav>
		<div class="container">
			<div ng-view></div>
		</div>
	</div>
	
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/materialize/dist/js/materialize.min.js"></script>
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular-route/angular-route.min.js"></script>

	<script src="/app/main.js"></script>

	<script src="app/controllers/GetData.js"></script>
	<script src="app/controllers/NewJob.js"></script>
	<script src="app/controllers/Home.js"></script>
	<script src="app/controllers/Login-Register.js"></script>
	<script src="app/controllers/Logout.js"></script>
	<script src="app/controllers/ChooseJob.js"></script>
	<script src="app/controllers/Job.js"></script>
	<script src="app/controllers/FindJob.js"></script>
	<script src="app/controllers/ListJob.js"></script>
	<script src="app/controllers/EstimateJob.js"></script>

	<script src="app/factories/JobFactory.js"></script>
</body>
</html>