<div class="dialog row">
  <h1 class="center align"> Create New {{NEW.title}}</h1>
    <div ng-repeat='(KEY, value) in NEW.Display'>
      <div ng-if="KEY == NEW.table"  ng-repeat='(key, value) in NEW.Display[KEY] as display '>
        <div ng-if="key != 'Notes'" class="col s3">
          <span>{{key}}</span> 
          <input type="text" ng-model='display[key]'>
        </div>  
        <textarea class='col s8 offset-s2 addToJobNotes' ng-if="key == 'Notes'" ng-model='display[key]' placeholder="Special Notes..."></textarea>
      </div>
    </div>
</div>
<div class='row' ng-if="NEW.table === 'Clients' "> 
  <h5 class="col s12">Client Type:</h5>
  <button class="button btn col s3" type="submit" ng-click='NEW.clientType = "Owner"'>Owner</button> 
  <button class="button btn col s3" type="submit" ng-click='NEW.clientType = "Buyer"'>Buyer</button>
  <div class="col s4">
    <span for="other">Other</span>
    <input type="text" name="other" ng-model="other" ng-change="NEW.clientType = other"> 
  </div>
  <div class="col s12">
    <h5>Is this your main client?</h5>
    <button class="button btn col s3" type="submit" ng-click='NEW.main = true'>Yes</button>
    <button class="button btn col s3" type="submit" ng-click='NEW.main = false'>No</button>
  </div>
</div>
<div ng-if="NEW.ClientNames" class="row"> Add Client:
  <div ng-repeat="name in NEW.ClientNames"> 
    <button class="button btn"  ng-click="NEW.clientId = name.client_id">{{name.client_name}}</button>
  </div>
</div>
<div class="row">
  <button class="button btn" ng-click="NEW.reject()">Exit Without Saving</button>
  <button class="button btn" ng-click="NEW.send()" >Save {{NEW.title}}</button>
</div>

