<div class="addToJobFromDialog row">
  <h1 class="center align"> Add New {{NEW.title}} </h1>
    <div ng-repeat='(key, value) in NEW.Client'>
      <div ng-if="key != 'Notes'" class="col s3">
        <span>{{key}}</span> 
        <input type="text" ng-model='NEW.Client[key]'>
      </div>  
      <textarea class='col s8 offset-s2 addToJobNotes' ng-if="key == 'Notes'" ng-model='NEW.Client[key]' placeholder="Special Notes..."></textarea>
    </div>
</div>
<div class="row">
  <button class="button btn" ng-click="NEW.reject()">Exit Without Saving</button>
  <button class="button btn" ng-click="NEW.send()" >Save {{NEW.title}}</button>
</div>