<div class="container">
  <h1>Choose Job</h1>
  <h4>Exact Matches</h4>
  <h5 ng-show="matches.exact.length === 0"> No Exact Matches</h5>
  <div class="row" ng-hide="matches.exact.length === 0">
    <div class="col s12">
      <div class="col s1 center align "> Job Number </div>
      <div class="col s1 center align "> Job Status </div>
      <div class="col s2 center align "> Job Type </div>
      <div class="col s2 center align "> Start Date </div>
      <div class="col s2 center align "> Target Date </div>
      <div class="col s2 center align "> Complete Date </div>
      <div class="col s2 center align "> Last Accessed </div>
    </div>
  </div>
  <div ng-repeat="match in matches.exact"> 
    <div class="row">
      <button class="col s12 btn button" ng-class="{selectedButton: jobsChecked.includes($index)}" ng-click="goToExact(match.job_number, $index)">
        <div class="col s1 center align "> {{match.job_number > 0 ? match.job_number : 'N/A'}}</div>
        <div class="col s1 center align "> {{match.on_hold ? 'Hold' : match.job_status}}</div>
        <div class="col s2 center align "> {{match.job_type}} </div>
        <div class="col s2 center align "> {{match.start_date ? (match.start_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
        <div class="col s2 center align "> {{match.target_date ? (match.target_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
        <div class="col s2 center align "> {{match.complete_date ? (match.complete_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
        <div class="col s2 center align "> {{match.last_accessed ? (match.last_accessed | date : 'medium' ): 'N/A'}} </div>
      </button>
    </div>
  </div>

  <button ng-hide="otherMatches" ng-click="showOtherMatches()">Show Other Matches</button>
  <div ng-if="otherMatches">
    <h4>Other Matches</h4>
    <h5 ng-show="matches.other.length === 0"> No Other Matches</h5>
    <div class="row" ng-hide="matches.other.length === 0">
      <div class="col s12">
        <div class="col s1 center align "> Job Number </div>
        <div class="col s1 center align "> Job Status </div>
        <div class="col s2 center align "> Job Type </div>
        <div class="col s2 center align "> Start Date </div>
        <div class="col s2 center align "> Target Date </div>
        <div class="col s2 center align "> Complete Date </div>
        <div class="col s2 center align "> Last Accessed </div>
      </div>
    </div>
    <div ng-repeat="match in matches.other"> 
      <div class="row">
        <button class="col s12 btn button" ng-class="{selectedButton: othersChecked.includes($index)}" ng-click="goToOther(match.job_number, $index)">
          <div class="col s1 center align "> {{match.job_number > 0 ? match.job_number : 'N/A'}}</div>
          <div class="col s1 center align "> {{match.on_hold ? 'Hold' : match.job_status}}</div>
          <div class="col s2 center align "> {{match.job_type}} </div>
          <div class="col s2 center align "> {{match.start_date ? (match.start_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
          <div class="col s2 center align "> {{match.target_date ? (match.target_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
          <div class="col s2 center align "> {{match.complete_date ? (match.complete_date | date : 'mediumDate' : timeZoneOffset) : 'N/A'}} </div>
          <div class="col s2 center align "> {{match.last_accessed ? (match.last_accessed | date : 'medium' ): 'N/A'}} </div>
        </button>
      </div>
    </div>
  </div>

</div>