<h1>Choose Job</h1>
<h4>Exact Matches</h4>
<div ng-repeat="match in Matches.exact"> 
  <div class="row">
    <div class="col s4">
      <div ng-repeat="(key, value) in match">
        <div ng-if="key != 'job_number'" class="col s12">
          <span>{{key}}:</span><span>{{value}}</span>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="col s4" >Job Number: {{match.job_number}}</div>
      <button class="button btn col s2" ng-click="getJob(match.job_number)">Get Job!</button>
    </div>
  </div>
</div>

