<h5>Estimate Job</h5>


  <div ng-repeat="selectedType in EJ.estimate" ng-init="material()">
    <div class="col s3 input-field">
      <select ng-change="EJ.getTypeOfWork(selectedType.typeOfWork)" ng-model="selectedType.typeOfWork" ng-options="type as type disable when type.notAnOption for type in EJ.typesOfWork"> 
        <option value="" label="-- Select option --" disabled selected="selected"> Select Type of Work...    
        </option>
      </select>
    </div>
    <!-- <div class="col s3 input-field" >
      <select ng-model="param.values" ng-options="values as values for values in FJ.selectedTable{{$index + 1}}" ng-init="param.tableName">
        <option value="" label="-- Select option --" selected="selected"> All Fields 
        </option>
      </select>
    </div>
    <div class="col s5 input-field" ng-keyup="$event.keyCode == 13 && FJ.submit() ".">
      <input type="text" name="request{{$index}}" ng-model="param.request" placeholder="Search Terms...">
    </div> --> 
  </div>  