<h1>Search Jobs...</h1>

<div class="row">
  <div ng-repeat="param in searchParams">
    <div class="row">  
      <select class="col m3" ng-change="getTableValues(param.tableName)" ng-model="param.tableName" ng-options="table as table disable when table.notAnOption for table in Tables"> 
      </select>
      <div class="col m3" >
        <select ng-model="param.values" ng-options="values as values disable when values.notAnOption for values in selectedTable{{$index + 1}}" ng-init="param.tableName">
        </select>
      </div>
      <div class=" col m6 input-field">
      <input type="text" name="request{{$index}}" ng-model="param.request" placeholder="Search Terms...">
      </div>
    </div>
  </div>
</div>  
<div class="row"> 
  <div ng-click="createParam()">
    <button class="button btn " type="">Add Search Parameter</button>
  </div>
  <div ng-click="submit()">
    <button class="button btn " type="">Submit</button>
    
  </div>


  
</div>