<h5>Search Jobs...</h5>

<div ng-repeat="param in FJ.searchParams" ng-init="material()" ng-if='FJ.Tables'>
  <div class="row">
    <div class="col s3 input-field">
      <select ng-change="FJ.getTableValues(param.table, $index + 1)" 
        ng-model="param.table" 
        ng-options="table as table disable when table.notAnOption for table in FJ.Tables"> 
        <option value="" label="-- Select option --" disabled selected="selected"> Search by...</option>
      </select>
    </div>
    <div class="col s3 input-field" >
      <select ng-model="param.objToFind.column"
        ng-options="columns as columns for columns in FJ.fields{{$index + 1}}" 
        ng-init="param.table" 
        ng-disabled='!param.table'
        ng-change="FJ.columnSelected(param.objToFind.column, $index)"
        >
        <option value="" label="-- Select option --" selected="selected"> Search fields...</option>
      </select>
    </div>
    <div class="col s4 input-field" ng-keyup="$event.keyCode == 13 && FJ.submit()">
      <input 
        type="text" 
        name="match{{$index}}" 
        ng-model="param.objToFind.match" 
        ng-disabled='FJ.noUserInput($index)' 
        placeholder="Search Terms...">
    </div> 
    <div class="col s1" ng-click="FJ.createParam()" ng-if="$index + 1 === FJ.searchParams.length">
      <button class="btn-floating btn-large waves-effect waves-light button" type="">+</button>
    </div>  
  </div>  
</div>  
<div class="row"> 
  <div class="col offset-s10" ng-click="FJ.submit()">
    <button class="button btn " type="">Submit</button>
  </div>
</div>