<h5>Search Jobs...</h5>

<div class="row">
  <div ng-repeat="param in FJ.searchParams" ng-init="FJ.material()">
    <div class="col s3 input-field">
      <select ng-change="FJ.getTableValues(param.tableName)" ng-model="param.tableName" ng-options="table as table disable when table.notAnOption for table in FJ.Tables"> 
        <option value="" label="-- Select option --" disabled selected="selected"> Search by...    
        </option>
      </select>
    </div>
    <div class="col s3 input-field" >
      <select ng-model="param.values" ng-options="values as values for values in FJ.selectedTable{{$index + 1}}" ng-init="param.tableName">
        <option value="" label="-- Select option --" selected="selected"> All Fields 
        </option>
      </select>
    </div>
    <div class="col s5 input-field" ng-keyup="$event.keyCode == 13 && FJ.submit() ".">
      <input type="text" name="request{{$index}}" ng-model="param.request" placeholder="Search Terms...">
    </div> 
  </div>  
  <div class="col s1" ng-click="FJ.createParam()">
    <button class="btn-floating btn-large waves-effect waves-light button" type="">+</button>
  </div>  
</div>  
<div class="row"> 
  <div class="col offset-s10" ng-click="FJ.submit()">
    <button class="button btn " type="">Submit</button>
  </div>
</div>