<div class="dialog row">
  <form>
    <h1 class="center align">{{FORM.title}}</h1>
    <div  ng-repeat='(field, details) in FORM.display'>
      <div ng-if="!details.searchable && field !== 'Notes'" class="col s3">
        <label ng-if="details.type !== 'checkbox'" for="{{field}}">{{field}}</label>
        <input type="{{details.type}}" id="{{field}}" ng-model='details.value'  ng-required="details.required">
        <!-- materialize requires label under input for checkboxes -->
        <label ng-if="details.type === 'checkbox'" for="{{field}}">{{field}}</label> 
      </div>
      <div class="col s3" ng-if="details.searchable">
        <label for="{{field}}">{{field}}</label>
        <input type="{{details.type}}" ng-focus="FORM.search(details.searchFunction, field)" ng-model='details.value' ng-required="details.required">
      </div>
      <textarea class='col s8 offset-s2 addToJobNotes' ng-if="field === 'Notes'" ng-model='details.value' placeholder="Special Notes..."></textarea>
    </div>
  </div>
  <div class="row">
    <button class="button btn" ng-click="FORM.reject()">Exit Without Saving</button>
    <button class="button btn" ng-click="FORM.validate()" >{{FORM.formType}}</button>
  </form>
</div>

