<div class="dialog row">
  <h1 class="center align">{{FORM.title}}</h1>
  <div  ng-repeat='(key, value) in FORM.Display[FORM.table] as display '>
    <div ng-if="key !== 'Acres' && key !== 'Notes' " class="col s3">
      <span>{{key}}</span> 
      <input type="text" ng-model='display[key]'>
    </div>
    <div ng-if="key === 'Acres' " class="col s3">
      <span>{{key}}</span> 
      <input type="number" ng-model='display[key]'>
    </div>
    <textarea class='col s8 offset-s2 addToJobNotes' ng-if="key === 'Notes'" ng-model='display[key]' placeholder="Special Notes..."></textarea>
  </div>
</div>
<div class="row">
  <button class="button btn" ng-click="FORM.reject()">Exit Without Saving</button>
  <button class="button btn" ng-click="FORM.validate()" >{{FORM.formType}}</button>
</div>

