<div ng-controller="Home as HC">
  <div class="row">
    <h3 > Home </h3>
  </div>

  <div class="row">  
    <div class="col s2">
      <div ng-controller="ListJob as LJ">
        <div ng-include="'./partials/listJob.html'"></div>
      </div>
    </div>
    <div class="col s2">
      <div ng-controller="ListJob as LJ">
        <div ng-include="'./partials/listJob.html'"></div>
      </div>
    </div>
    <div class="col s8">
      <div ng-controller="FindJob as FJ">
        <div ng-include="'./partials/findJob.html'"></div>
      </div>
    </div>
  </div> 



</div>






 <!--  <div class="recentJobDiv" ng-repeat="job in recentJobs">
    <a class="btn recentJobs waves-effect waves-light col s3 offset-s1" type="">
      <div id="lastName">
        {{job.lastName}}
      </div>
      <div>
        {{job.firstName}}
      </div>
      <div>
        Job Number: {{job.number}}
      </div>
    </a>
  </div>
</div> -->