  <div class="row">  
    <div class="col s2">
      <div ng-controller="ListJob as LJ">
        <h5 class="center align">Active Jobs</h5>
        <div class="recentJobDiv">
          <div ng-repeat="job in activeJobs">
            <div ng-include="'./partials/listJob.html'"></div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col s2">
      <div ng-controller="ListJob as LJ">
      <h5 class="center align">Pending Jobs</h5>
      <div class="recentJobDiv">
        <div ng-repeat="job in pendingJobs">
          <div ng-include="'./partials/listJob.html'"></div>
        </div>
      </div>  
      </div>
    </div>
    <div class="col s8">
      <div ng-controller="FindJob as FJ">
        <div ng-include="'./partials/findJob.html'"></div>
      </div>
      <div ng-controller="TOWBuilder as TB">
        <div ng-include="'./partials/TOWBuilder.html'"></div>
      </div>
    </div>
  </div> 

