
<div class="job">
  <nav class="brown darken-1">
    <ul>
      <li><a ng-click="setNewTab('JobMain') ">Job</a></li>
      <li><a ng-click="setNewTab('JobAttachment') ">Attachments</a></li>
      <li><a ng-click="setNewTab('JobEstimate') ">Estimate</a></li>
      <li><a ng-click="setNewTab('JobInvoice') ">Invoice</a></li>
      <li><a ng-click="updateStatus()">Update Status</a></li>
      <li class="jobExit" ><a href="/#!/home">X</a></li>
    </ul>
  </nav>
  <div class="jobInfo"> 
    <h5>Job Number: {{Job['Job Number'] < 0 ? 'None': Job['Job Number']}}</h5> 
    <div class='row'>
      <div class="col s2">Job Type: {{Job.job_types}}</div>
      <div class="col s2">Job Status: {{Job['Job Status']}}</div>
      <div class="col s2">Date Started: {{Job['Date Started'] | date : 'mediumDate'}}</div>
      <div class="col s2">Date Completed: {{Job['Date Completed'] | date : 'mediumDate'}}</div>
      <div class="col s2">Last Accessed: {{Job['Last Accessed'] | date : 'medium'}}</div>
      <div class="col s2">Target Date: {{Job['Target Date'] | date : 'mediumDate'}}</div>
    </div>

    <div ng-if="showTab === 'JobMain'" ng-controller="JobMain as JM">
      <div ng-include="'./partials/jobMain.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobAttachment'" ng-controller="JobAttachment as JA">
      <div ng-include="'./partials/jobAttachment.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobInvoice'" ng-controller="JobInvoice as JI">
      <div ng-include="'./partials/jobInvoice.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobEstimate'" ng-controller="JobEstimate as JE">
      <div ng-include="'./partials/jobEstimate.html'">

     </div>
    </div>
  </div>
</div>