<div class="container">
  <div class="row">
    <div class="col s8 offset-s2" ng-if="JC.causes" ng-init="material()">
      <select ng-model="JC.selectedCause" ng-options="cause as cause.cause for cause in JC.causes">
        <option value="" label="-- Select option --" disabled selected="selected"> Choose One...
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s4">
      <button class="btn button col s3" ng-click="JC.canceled()">Cancel</button>
      <button class="btn button col s3" ng-click="JC.selected()" ng-disabled="!JC.selectedCause">Submit</button>
      </div>
    </div>
  </div>
</div>
