<div class="dialog">

<div class="row">
  <h5 class="col s12">Job info</h5>
  <div class="col s12" ng-show='hold'>
    Job Status: Hold
  </div> 
  <div class="col s12" ng-show='!hold'>
    Job Status: 
    {{newJob.jobInfo.job_status ? newJob.jobInfo.job_status : currJob.jobInfo.job_status}}
  </div>  
  <div class="col s12" ng-controller="JobStatus as JS">
      <div ng-include="'./partials/jobStatus.html'"></div>
  </div>

  <div class="col s12" ng-if="displayCause">
    Cause for Cancelling: {{displayCause}}
  </div>


  <div class="col s12">
    Job Number: 
    {{newJob.jobInfo.job_number ? newJob.jobInfo.job_number : currJob.jobInfo.job_number}}
  </div>
  <div class="col s12">
    Start Date: 
    {{newJob.jobInfo.start_date ? newJob.jobInfo.start_date : currJob.jobInfo.start_date}}
  </div>
  <div class="col s12">
    Complete Date: 
    {{newJob.jobInfo.complete_date ? newJob.jobInfo.complete_date : currJob.jobInfo.complete_date}}
  </div>
  <div class="col s12">
    Target Date: 
    {{newJob.jobInfo.target_date ? newJob.jobInfo.target_date : currJob.jobInfo.target_date}}
  </div>
</div>


<div>
  Property
</div>
<div>
  Add Address
</div>
<div>
  Add Road
</div>
<div>
  Client
</div>
<div>
  Client Type
</div>
<div>
  Client Rep
</div>
<div>
  Owner
</div>
<div>
  Owner Rep
</div>


</div>
