<div ng-if='JI.invoice === false '>
  <h1> There doesn't seem to be anything here.</h1>
</div>

</div>

<div ng-if='JI.invoice === true'>
  <div ng-repeat=" lineItem in InvoiceDetails">
    <div class="row">  
      <div class="col s4">Type of Work: {{lineItem.type_of_work}}</div>
      <div class="col s4">Rate: {{lineItem.rate}}</div>
      <div class="col s4" ng-if='lineItem.time_if_hourly'>Time: {{lineItem.time_if_hourly}}</div>
    </div>
  </div>
</div>


<!--   <div>Your last Invoice Number was {{recommended -  1}}, would you like to use {{recommended}} as your new invoice number?</div>
  <button type="submit" ng-click="addNumber(recommended)">Yes, that'll do.</button>
  <button type="submit" ng-click="addNumber(newNumber)">Nah, use this number.</button>
  <input type="text" ng-model="newNumber" placeholder="Select Invoice Number"> -->