<h3>
  {{Invoice.invoice_number ? 'Invoice Number' : 'No invoice number assigned'}}
</h3>

<div ng-controller="TOWBuilder as TB">
  <div ng-include="'./partials/TOWBuilder.html'">
  </div>
</div>



<!--   <div>Your last Invoice Number was {{recommended -  1}}, would you like to use {{recommended}} as your new invoice number?</div>
  <button type="submit" ng-click="addNumber(recommended)">Yes, that'll do.</button>
  <button type="submit" ng-click="addNumber(newNumber)">Nah, use this number.</button>
  <input type="text" ng-model="newNumber" placeholder="Select Invoice Number"> -->