<div class='row'>
  <div class="col s12" ng-repeat="client in Clients">
    <div class="row">
      <div ng-repeat="(key, value) in client" >
        <div  ng-if="key !== 'client_id'" 
              ng-dblclick="editOne = true" 
              class="col s3" 
              ng-keyup="$event.keyCode == 13 && [makeChange('Clients', {client_id: client.client_id},  key, value), editOne = false]" >
            {{key}}:
          <span ng-if="!editOne">{{value}}</span> 
          <input type="text" class="input-field" ng-if="editOne" ng-model="client[key]">
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col s12" ng-repeat="property in Property">
    <div class="row">
     <!--  <div ng-repeat="(key, value) in property">
        <div class="col s3">
            {{key}}:
          <span ng-hide="edit">{{value}}</span> 
          <input type="text" class="input-field" ng-show="edit" ng-model="value">
        </div>
      </div> -->
    </div>
  </div>
</div>