<div class='dialog'>
  <div>
    <div>What is the status of this job?</div>
    <button type="submit" ng-click="JS.jobCanceled()" 
            ng-hide='JS.currStatus == "New" ||
                     JS.currStatus == "Canceled" ||
                     JS.currStatus == "Complete"'>Canceled
    </button>
    <button type="submit" ng-click="JS.jobPending()" 
            ng-hide='JS.currStatus == "Pending" ||
                     JS.currStatus == "Complete"'>Pending
    </button>
    <button type="submit" ng-click="JS.jobChangeHold()" 
            ng-hide='JS.currStatus == "New" ||
                     JS.currStatus == "Canceled" ||
                     JS.currStatus == "Complete"'>{{JS.onHold ? 'Remove Hold' : 'Hold'}}
    </button>
    <button type="submit"  ng-click="JS.jobActive()" 
            ng-hide='JS.currStatus == "Active"'>Active
    </button>
    <button type="submit" ng-click="JS.jobComplete()" 
            ng-hide='JS.currStatus == "Complete" ||
                     JS.currStatus == "Canceled"'>Complete
    </button>
  </div>  

  <div ng-if="newJobNumberRequired">
    <div ng-controller="RecommendNumber as RN">
      <div ng-include="'./partials/recommendNumber.html'"></div>
    </div>
  </div>

  <div ng-if="jobCanceled">
    <div ng-controller="JobCanceled as JC">
      <div ng-include="'./partials/jobCanceled.html'"></div>
    </div>
  </div>  
</div>