<div class='dialog row'>
  <div>
    <span>Job Status:</span>
    <button type="submit" ng-click="JS.jobCanceled()" 
            ng-disabled='JS.currStatus === "New" ||
                     JS.currStatus === "Canceled" ||
                     JS.currStatus === "Complete"'>Canceled
    </button>
    <button type="submit" ng-click="JS.jobPending()" 
            ng-disabled='JS.currStatus === "Pending" ||
                     JS.currStatus === "Complete"'>Pending
    </button>
    <button type="submit"  ng-click="JS.jobActive()" 
            ng-disabled='JS.currStatus === "Active"'>Active
    </button>
    <button type="submit" ng-click="JS.jobChangeHold()" 
            ng-disabled='JS.currStatus === "New" ||
                     JS.currStatus === "Canceled" ||
                     JS.currStatus === "Complete"'>{{JS.newJobInfo.on_hold ? 'Remove Hold' : 'Hold'}}
    </button>
    <button type="submit" ng-click="JS.jobComplete()" 
            ng-disabled='JS.currStatus === "Complete" ||
                     JS.currStatus === "Canceled"'>Complete
    </button>
  </div>
