<h2 ng-if="loginOrRegister === 'login'" class="center-align "> Welcome, please login!</h2>
<h2 ng-if="loginOrRegister === 'register'" class="center-align "> Register a new account!</h2>

<div class="wrapper">  
  <div class="row">
    <button class="col m2 offset-m4 btn-large loginRegister" ng-click="login()" autofocus="true">Login</button>
    <button class="col m2 btn-large loginRegister" ng-click="register()">Register</button>
  </div>
    

  <form class="row" ng-submit="enterSite()">
    <div class="input-field col m5 offset-m1">
      <label for="email">Email:</label>
      <input type="text" name="email" ng-model="formData.email" required>
    </div>
    <div class="input-field col m5">
      <label for="password">Password:</label>
      <input type="password" name="password" ng-model="formData.password" required>
    </div>
    <div ng-if="loginOrRegister === 'register' " class="input-field col m5 offset-m6">
      <label for="confirm">Confirm Password:</label>
      <input type="password" name="confirm" required>
    </div>
    <button class="col m2 offset-m5 btn loginRegister">Submit</button>
  </form>
</div>