<nav class="brown darken-1">
  <a href="/#!/home" ng-if="$user != null" class="brand-logo right"> Welcome {{$user}} </a>
  <ul ng-if="$user != null">
    <li><a href="/#!/home" title="">Home</a></li>
    <li><a href="/#!/newJob" title="">New Job</a></li>
    <li><a href="/#!/getData" title="">Get Data</a></li>
    <li><a href="/#!/logout" title="">Logout</a></li>
    <li>Know the Job Number?</li>
    <li>
        <input 
            class="navInput" 
            ng-keyup="$event.keyCode == 13 && NAV.submit(NAV.jobNumber)" 
            type="text" ng-model="NAV.jobNumber" 
            blur="NAV.jobNumber === '' "/>
    </li>
  </ul>
  <ul>
    <li><a ng-if="$user === null" href="/#!/login" title="">Login</a></li>
  </ul>
</nav>