

<div ng-hide="newJob.job_status">
  <div>What is the status of this job?</div>
  <button type="submit" ng-click="addJobStatus('Pending')">Pending</button>
  <button type="submit" ng-click="addJobStatus('Active')">Active</button>
  <button type="submit" ng-click="addJobStatus('Complete')">Complete</button>
</div>  
<div ng-if="newJob.job_status && newJob.job_status != 'Pending'">
  <div>Your last Job Number was {{recommended -  1}}, would you like to use {{recommended}} as your new job number?</div>
  <button type="submit" ng-click="addJobNumber(recommended)">Yes, that'll do.</button>
  <button type="submit" ng-click="addJobNumber(newNumber)">Nah, use this number.</button>
  <input type="text" ng-model="newNumber" placeholder="Select Job Number">
</div>

