  <md-autocomplete 
    md-no-cache="true" 
    md-search-text="searchText"
    md-items="item in SF.filter(searchText)" 
    md-item-text="item.value"
    md-selected-item="selectedItem"
    md-selected-item-change="SF.existing(selectedItem.id)"
    md-min-length="1"
    md-autofocus='true'>
    <md-item-template>
      <span md-highlight-text="searchText" >{{item.value}}</span>
    </md-item-template>
    <md-not-found >
      <div ng-click="SF.new()">
        No matches found for "{{searchText}}". Would you like to add one?
      </div>
    </md-not-found>
  </md-autocomplete>
  <button class="button btn" ng-click='SF.cancel()'>Cancel</button>
