/*INDEX*/
body {
  background-color: #B1725E;
}

.container {
  width: 100%;
  max-width: 98%;
}

/*NAV*/

nav {
  height: 50px;
}
nav ul li {
  line-height: 50px;
}

/*JOB*/

.job {
  background-color: #f0f0f5;
  height: auto;
  margin-top: 1%;
}

.jobInfo {
  padding: 0 1% !important;
}

.columnInput { 
  max-width: 50%;
}

.columnButton {
  display: inline;
  margin: 0px !important;
}

.jobExit {
  display: inline-block;
  float: right;
}

.editCursor {
  cursor: pointer;
}

.noPointerEvents {
  pointer-events: none;
}

/*HOME*/
/*********SASS for all buttons**********/
.recentJobDiv{
  overflow-y: scroll;
  height: 75vh;
}

.recentJobs {
  margin: 0 4% 5px 4% ;
  height: auto;
  line-height: 1.3rem;
  color: black;
  background-color: #eceff1;
  word-wrap: break-word;
}

.recentJobs:hover {
  background-color: #bcaaa4;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}
/*****************************************/

#lastName {
  font-size: 1.3rem;
}

/*Login/Register*/
/*********SASS for all inputs**********/

/* label color */
.input-field label {
  color: black;
}
.input-field input {
  border-bottom: 1px solid #eceff1;
  margin-bottom: 0px;
  
}
/* label focus color */
.input-field input[type=text]:focus + label {
  background-color: #bcaaa4;
  color: black;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
  background-color: white;
}
  /* label focus color password */
.input-field input[type=password]:focus + label {
  background-color: #bcaaa4;
  color: black;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
  background-color: white;
}

.input-field input::-webkit-input-placeholder {
  color: black !important;
}
 


/********************************************/

/*********buttons**********/
.button {
  color: black;
  background-color: #eceff1;
  margin: 15px 10px 0 10px;
}

/*********buttons**********/
.button:hover {
  background-color: #bcaaa4;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

.button:focus {
  background-color: #bcaaa4;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

.btn-floating {
  color: black;
  font-size: 2rem !important; 
}

.wrapper {
  margin-top: 25px;
  border: 15px solid #bcaaa4;
}


/*********select**********/
.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #eceff1;
}

.dropdown-content li span { 
  color: black;

}

.dropdown-content li span:hoover {
  background-color: #bcaaa4;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}


/********dialog************/
.addToJobFromDialog {
  width: 1200px;
  height:810px;
}

.addToJobNotes {
    height: 10em;
}

/********toast************/
.toastReject .md-toast-content {
  background-color: #CC3333 !important;
  color: black !important;
}

.toastSuccess .md-toast-content {
  background-color: #CCFFCC !important;
  color: black !important;
}