<div class="row">
  <h5>Tasks</h5>
  <button class="col s2 offset-s8" ng-click="AT.addNew()" ng-disabled="AT.editIndex !== false"> Add New </button>
</div>
<div class="row">
  <div class="col s3">Task</div>
  <div class="col s3">Rate</div>
  <div class="col s3">Hourly</div>
</div>  
<div ng-if="AT.Tasks" >
  <div ng-repeat='task in AT.Tasks'>
    <div class="row"> 
      <div ng-if="AT.editIndex === $index">
        <div class="col s3">
          <input ng-model='task.task'>
        </div>
        <div class="col s3">
          <input ng-model='task.rate'>
        </div>
        <div class="col s1">
          <input type="checkbox" id="{{$index}}" ng-checked='task.hourly'  ng-model='task.hourly'/>
          <label for="{{$index}}"></label>
        </div>
        <button class="col s2 offset-s1" ng-click="AT.undoChanges()">Undo</button>
        <button class="col s2" ng-click="AT.saveChanges(task)">Save</button>
      </div>
      <div ng-if="AT.editIndex !== $index">
        <div class="col s3" ng-model='task.task'>{{task.task}}</div>
        <div class="col s3" ng-model='task.rate'>{{task.rate}}</div>
        <div class="col s1" ng-if="task.hourly">
          <input type="checkbox" id="{{$index}}" ng-checked='task.hourly' disabled />
          <label for="{{$index}}"></label>
        </div>
        <div class="col s1" ng-if="!task.hourly"></div>
        <button class="col s2 offset-s1" ng-click="AT.edit(task, $index)">Edit</button>
        <button class="col s2" ng-click="AT.deleteTask(task.task_id)" ng-disabled="AT.editIndex !== false">Delete</button>
      </div>
    </div>
  </div>
</div>