<div class="row">
  <h5>Employees</h5>
  <button class="col s2 offset-s10" ng-click="AE.addNew()"> Add New </button>
</div>
  
<div class="row">
  <div ng-repeat='employee in AE.Employees'>
    <div class="col s12">
      <span class="col s3">
        {{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}: 
      </span>
      <button class="col s2"  ng-click="AE.viewOrEdit(employee)">View/Edit</button>
      <button class="col s2"  ng-click="AE.delete(employee.employee_id)">Delete</button>
      <button class="col s2"  ng-click="AE.changeStatus()">Status</button>
    </div>
  </div>
</div>