<div class="row">

<div class="row">
</div>
  <div class="row">

    <div class="col s2 offset-s1 boxDiv adminInfo">
      <button class="col s12 button btn" type="">Clients</button>
      <button class="col s12 button btn" type="">Representatives</button>
      <button class="col s12 button btn" type="">Companies</button>
      <button class="col s12 button btn" type="">Employees</button>
      <button class="col s12 button btn" type="">Tasks</button>
      <button class="col s12 button btn" type="">Job Types</button>
      <button class="col s12 button btn" type="">Cancellations</button>
      <button class="col s12 button btn" type="">Time Cards</button>
    </div>
    <div class="col s7 offset-s1 boxDiv ">
      <div class="adminInfo">
        Company Info
      </div>
    </div>

  </div>



</div>