
<div class="job">
  <nav class="brown darken-1">
    <ul>
      <li><a ng-click="setNewTab('JobMain') ">Job</a></li>
      <li><a ng-click="setNewTab('JobAttachment') ">Attachments</a></li>
      <li><a ng-click="setNewTab('JobEstimate') ">Estimate</a></li>
      <li><a ng-click="setNewTab('JobInvoice') ">Invoice</a></li>
      <!-- <div class="liDuplicate " ng-init="material()">
        <select class="navSelect" name="select" ng-model='select' ng-change="update(select)"> 
          <option value="" disabled>Update Job</option>
          <option value="updateStatus">Update Status</option>
          <option value="addClient">Add Client</option>
          <option ng-if="Clients.length != 0" value="editClient">Edit Client</option>
          <option ng-if="Clients.length != 0" value="removeClient">Remove Client</option>
          <option ng-if="Representatives.length != Clients.length" value="addRep">Add Rep</option>
          <option ng-if="Representatives.length != 0" value="editRep">Edit Rep</option>
          <option ng-if="Representatives.length != 0" value="removeRep">Remove Rep</option>
          <option value="{{Property ? 'editProp' : 'addProp'}}">{{Property ? 'Edit Property' : 'Add Property'}}</option>
          <option ng-if="Property" value="addAddressRoad">Add Address/Road</option>
        </select>   
      </div>   -->
      <li class="jobExit" ><a href="/#!/home">X</a></li>
    </ul>
  </nav>

  <div ng-if="search">
    <div ng-controller="SearchFilter as SF">
      <div ng-include="'./partials/searchFilter.html'">
      </div>
    </div>
  </div>

  <div class="jobInfo"> 
    <h5>Job Number: {{jobInfo.job_number < 0 ? 'None': jobInfo.job_number}}</h5> 
    <div class='row'>
      <div class="col s2">Job Type: {{jobInfo.job_types}}</div>
      <div class="col s2">Job Status: {{jobInfo.on_hold ? 'Hold' : jobInfo.job_status}}</div>
      <div class="col s2">Date Started: {{jobInfo.start_date | date : 'mediumDate' : timeZoneOffset}}</div>
      <div class="col s2">Date Completed: {{jobInfo.complete_date | date : 'mediumDate' : timeZoneOffset}}</div>
      <div class="col s2">Last Accessed: {{jobInfo.last_accessed | date : 'medium' : timeZoneOffset}}</div>
      <div class="col s2">Target Date: {{jobInfo.target_date | date : 'mediumDate' : timeZoneOffset}}</div>
    </div>

    <div ng-if="showTab === 'JobMain'" ng-controller="JobMain as JM">
      <div ng-include="'./partials/job/jobMain.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobAttachment'" ng-controller="JobAttachment as JA">
      <div ng-include="'./partials/job/jobAttachment.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobInvoice'" ng-controller="JobInvoice as JI">
      <div ng-include="'./partials/job/jobInvoice.html'">

     </div>
    </div>
    <div ng-if="showTab === 'JobEstimate'" ng-controller="JobEstimate as JE">
      <div ng-include="'./partials/job/jobEstimate.html'">

     </div>
    </div>
  </div>
</div>