<!-- Clients -->
<div class="row">
  
  <div class="container">
    
    <div class="row">
      <div id="Items" class="col s10">

        <div class="row">
          <div id="client">
            <div class="col s6">
              <div class="row">
                Client's Name: {{client.first_name}} {{client.middle_name}} {{client.last_name}} 
                <span ng-if='client'>({{client.client_type}})</span>
              </div>
              <div class="row">
                Mailing Address: {{client.address}}
              </div>
              <div class="row">
                City: {{client.city}} State: {{client.state}} Zip: {{client.zip_code}} 
              </div>
              <div class="row">
                 County: {{client.county}}
              </div>
              <div class="row">
                Mobile Phone: {{client.mobile_phone}}
              </div>
              <div class="row">
                 Home Phone: {{client.home_phone}}
              </div>
              <div class="row">
                Email: {{client.email}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Contact: {{clientContact.first_name}} {{clientContact.middle_name}} {{clientContact.last_name}}
              </div>
              <div class="row">
                Mobile Phone: {{clientContact.mobile_phone}}
              </div>
              <div class="row">
                Business Phone: {{clientContact.business_phone}}
              </div>
              <div class="row">
                Email: {{clientContact.email}}
              </div>
              <div class="row">
                Company Name: {{clientContact.company_name}}
              </div>
              <div class="row">
                Company Address: {{clientContact.company_address}}
              </div>
            </div>
          </div>
        </div>  

        <div class="row">
          <div id="PropTitle">
            <div class="col s12">
              <div class="row">
                <div>
                  Owner's Name: {{owner.first_name}} {{owner.middle_name}} {{owner.last_name}} 
                </div>
                <div>
                  Owner Contact Name: {{ownerContact.first_name}} {{ownerContact.middle_name}} {{ownerContact.last_name}} 
                </div>
              </div>
              <div class="row">
                <div class="col s4" ng-hide="JM.allAddresses">
                  Property Address: {{property.primary_address}}
                </div>
                <div class="col s4" ng-show="JM.allAddresses">
                  <div ng-repeat="address in JM.allAddresses">
                    Address: {{address.address}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allAddresses ? JM.hideAddresses() : JM.showAddresses(property.property_id)">
                  {{JM.allAddresses ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
              <div class="row">
                <div class="col s4" ng-hide="JM.allRoads">
                  Property Road: {{property.primary_road}}
                </div>
                <div class="col s4" ng-show="JM.allRoads">
                  <div ng-repeat="road in JM.allRoads">
                    Road: {{road.road}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allRoads ? JM.hideRoads() : JM.showRoads(property.property_id)">
                  {{JM.allRoads ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
            </div>  
          </div>
          <div id="property">
            <div class="col s6">
              <div class="row">
                City: {{property.city}} 
              </div>
              <div class="row">
                State: {{property.state}} Zip: {{property.zip_code}}  
              </div>
              <div class="row">
                County {{property.county}}
              </div>
              <div class="row">
                Acrage: {{property.acres}}
              </div>
              <div class="row">
                Notes: {{property.notes}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Subdivision: {{property.sub_division}} Lot Number: {{property.lot_number}}
              </div>
              <div class="row">
                Platbook: {{property.plat_book}} Page: {{property.plat_page}}
              </div>
              <div class="row">
                Property Map: {{property.property_map}} Parcel: {{property.parcel_number}}
              </div>
              <div class="row">
                Deedbook: {{property.deed_book}} Page: {{property.deed_page}}
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>


