<!-- Clients -->
<div class="row">
  
  <div class="container">
    
    <div class="row">
      <div id="Items" class="col s10">

        <div class="row">
          <div id="Main">
            <div class="col s6">
              <div class="row">
                Client's Name: {{Main.first_name}} {{Main.middle_name}} {{Main.last_name}} 
                <span ng-if='Main'>({{Main.client_type}})</span>
              </div>
              <div class="row">
                Mailing Address: {{Main.address}}
              </div>
              <div class="row">
                City: {{Main.city}} State: {{Main.state}} Zip: {{Main.zip_code}} 
              </div>
              <div class="row">
                 County: {{Main.county}}
              </div>
              <div class="row">
                Mobile Phone: {{Main.mobile_phone}}
              </div>
              <div class="row">
                 Home Phone: {{Main.home_phone}}
              </div>
              <div class="row">
                Email: {{Main.email}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Contact: {{Main.Rep.first_name}} {{Main.Rep.middle_name}} {{Main.Rep.last_name}}
              </div>
              <div class="row">
                Mobile Phone: {{Main.Rep.mobile_phone}}
              </div>
              <div class="row">
                Business Phone: {{Main.Rep.business_phone}}
              </div>
              <div class="row">
                Email: {{Main.Rep.email}}
              </div>
              <div class="row">
                Company Name: {{Main.Rep.company_name}}
              </div>
              <div class="row">
                Company Address: {{Main.Rep.company_address}}
              </div>
            </div>
          </div>
        </div>  

        <div class="row">
          <div id="PropTitle">
            <div class="col s12">
              <div class="row">
                Owner's Name: {{Owner.first_name}} {{Owner.middle_name}} {{Owner.last_name}} 
              </div>
              <div class="row">
                <div class="col s4" ng-hide="JM.allAddresses">
                  Property Address: {{Property.address}}
                </div>
                <div class="col s4" ng-show="JM.allAddresses">
                  <div ng-repeat="address in JM.allAddresses">
                    Address: {{address.address}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allAddresses ? JM.hideAddresses() : JM.showAddresses(Property.property_id)">
                  {{JM.allAddresses ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
              <div class="row">
                <div class="col s4" ng-hide="JM.allRoads">
                  Property Road: {{Property.road}}
                </div>
                <div class="col s4" ng-show="JM.allRoads">
                  <div ng-repeat="road in JM.allRoads">
                    Road: {{road.road}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allRoads ? JM.hideRoads() : JM.showRoads(Property.property_id)">
                  {{JM.allRoads ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
            </div>  
          </div>
          <div id="Property">
            <div class="col s6">
              <div class="row">
                City: {{Property.city}} 
              </div>
              <div class="row">
                State: {{Property.state}} Zip: {{Property.zip_code}}  
              </div>
              <div class="row">
                County {{Property.county}}
              </div>
              <div class="row">
                Acrage: {{Property.acres}}
              </div>
              <div class="row">
                Notes: {{Property.notes}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Subdivision: {{Property.sub_division}} Lot Number: {{Property.lot_number}}
              </div>
              <div class="row">
                Platbook: {{Property.plat_book}} Page: {{Property.plat_page}}
              </div>
              <div class="row">
                Property Map: {{Property.property_map}} Parcel: {{Property.parcel_number}}
              </div>
              <div class="row">
                Deedbook: {{Property.deed_book}} Page: {{Property.deed_page}}
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>


