<!-- Clients -->
<div class="row">
  
  <div class="container">
    
    <div class="row">
      <div id="Items" class="col s10">

        <div class="row">
          <div id="client">
            <div class="col s6">
              <div class="row">
                Client's Name: {{job.client.first_name}} {{job.client.middle_name}} {{job.client.last_name}} 
                <span ng-if='client'>({{job.client.client_type}})</span>
              </div>
              <div class="row">
                Mailing Address: {{job.client.address}}
              </div>
              <div class="row">
                City: {{job.client.city}} State: {{job.client.state}} Zip: {{job.client.zip_code}} 
              </div>
              <div class="row">
                 County: {{job.client.county}}
              </div>
              <div class="row">
                Mobile Phone: {{job.client.mobile_phone}}
              </div>
              <div class="row">
                 Home Phone: {{job.client.home_phone}}
              </div>
              <div class="row">
                Email: {{job.client.email}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Contact: {{job.client_contact.first_name}} {{job.client_contact.middle_name}} {{job.client_contact.last_name}}
              </div>
              <div class="row">
                Mobile Phone: {{job.client_contact.mobile_phone}}
              </div>
              <div class="row">
                Business Phone: {{job.client_contact.business_phone}}
              </div>
              <div class="row">
                Email: {{job.client_contact.email}}
              </div>
              <div class="row">
                Company Name: {{job.client_contact.company_name}}
              </div>
              <div class="row">
                Company Address: {{job.client_contact.company_address}}
              </div>
            </div>
          </div>
        </div>  

        <div class="row">
          <div id="PropTitle">
            <div class="col s12">
              <div class="row">
                <div>
                  Owner's Name: {{job.owner.first_name}} {{job.owner.middle_name}} {{job.owner.last_name}} 
                </div>
                <div>
                  Owner Contact Name: {{job.owner_contact.first_name}} {{job.owner_contact.middle_name}} {{job.owner_contact.last_name}} 
                </div>
              </div>
              <div class="row">
                <div class="col s4" ng-hide="JM.allAddresses">
                  Property Address: {{job.property.primary_address}}
                </div>
                <div class="col s4" ng-show="JM.allAddresses">
                  <div ng-repeat="address in JM.allAddresses">
                    Address: {{job.address.address}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allAddresses ? JM.hideAddresses() : JM.showAddresses(job.property.property_id)">
                  {{JM.allAddresses ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
              <div class="row">
                <div class="col s4" ng-hide="JM.allRoads">
                  Property Road: {{job.property.primary_road}}
                </div>
                <div class="col s4" ng-show="JM.allRoads">
                  <div ng-repeat="road in JM.allRoads">
                    Road: {{job.road.road}}
                  </div>
                </div>
                <button class="button btn col s2" 
                  ng-click="JM.allRoads ? JM.hideRoads() : JM.showRoads(job.property.property_id)">
                  {{JM.allRoads ? 'Show Less' : 'Show All'}} 
                </button>
              </div> 
            </div>  
          </div>
          <div id="property">
            <div class="col s6">
              <div class="row">
                City: {{job.property.city}} 
              </div>
              <div class="row">
                State: {{job.property.state}} Zip: {{job.property.zip_code}}  
              </div>
              <div class="row">
                County {{job.property.county}}
              </div>
              <div class="row">
                Acrage: {{job.property.acres}}
              </div>
              <div class="row">
                Notes: {{job.property.notes}} 
              </div>
            </div>
            <div class="col s6">
              <div class="row">
                Subdivision: {{job.property.sub_division}} Lot Number: {{job.property.lot_number}}
              </div>
              <div class="row">
                Platbook: {{job.property.plat_book}} Page: {{job.property.plat_page}}
              </div>
              <div class="row">
                Property Map: {{job.property.property_map}} Parcel: {{job.property.parcel_number}}
              </div>
              <div class="row">
                Deedbook: {{job.property.deed_book}} Page: {{job.property.deed_page}}
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>


